@import "_grid.sass"

/*-------------------------------------------
        Default colors
 ------------------------------------------*/
$main_color: #7f64b5
$grey_color: #444
$font_active: #e15d5d
$default_black: #484848

$default_font: 'Montserrat', sans-serif
/*-------------------------------------------
			  Common settings
 ------------------------------------------*/
html, body
  padding: 0
  margin: 0
  height: 100%
  min-height: 100%
  font-family: sans-serif
  transition: all .1s ease-in
  color: #7b7b7b

img
  max-width: 100%
  height: auto
  vertical-align: middle
  border: 0

a
  text-decoration: none
  color: $default_black
  transition: all .2s ease-in
  &:hover
    color: $font_active

/*-------------------------------------------
			  Navigation
 ------------------------------------------*/
.nav
  width: 100%
  background: $grey_color
  font-size: 14px
  &__section
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    width: 100%
    margin: 0 auto
    max-width: 1170px
    min-width: 460px
  &__menu
    font-family: $default_font
    font-size: 11px

.menu__item
  transition: all .1s ease-in
  margin: 0 20px
  text-transform: uppercase
  color: #aaa
  cursor: pointer
  padding: 11px
  &:hover
    color: $font_active
  &_active
    color: $font_active
    font-weight: bold

.link__social
  margin: 0 5px
  color: #aaa
  text-decoration: none
  transition: all .1s ease-in
  &:hover
    color: $font_active

.nav__search
  display: inline-block
  text-align: center
  width: 40px
  border-left: 1px solid #aaa

/*-------------------------------------------
			  Header
 ------------------------------------------*/
.header
  width: 100%
  &__nav
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee
  &__section
    @extend .nav__section
    justify-content: center

.nav__menu
  display: flex

/*-------------------------------------------
			  Slider
 ------------------------------------------*/
.slider
  position: relative
  transition: all .5s ease
  overflow: hidden
  &__wrapper
    position: relative
    top: 50%
    padding: 20px
    left: 0
    opacity: 1
    width: 100%
    z-index: 9
  &__category
    position: absolute
    top: 40%
    left: 100px
    display: block
    font-family: $default_font
    font-size: 10px
    text-transform: uppercase
    margin-bottom: 15px
    color: #fff
    border: 1px solid #fff
    padding: 5px
  &__title
    top: 50%
    left: 100px
    position: absolute
    color: #fff
  &__date
    top: 50%
    left: 100px
    position: absolute
    color: #fff
  &__box_content
    margin: 0
    padding: 0
    overflow: hidden
    width: 1000%
  &__item
    box-sizing: border-box
    float: left
    display: block
    height: 320px
  &__img
    width: 100%
  &__nav
    position: absolute
    display: flex
    justify-content: space-between
    width: 100%
    top: calc(50% - 18px)
  &__left
    padding: 10px
    color: #fff
    cursor: pointer
    background: rgba(0, 0, 0, .5)
  &__right
    @extend .slider__left
/*-------------------------------------------
			  Content
 ------------------------------------------*/
.content
  background: #f6f6f6
  &__section
    display: flex
    flex-flow: row wrap
    max-width: 1170px
    min-width: 300px
    margin: 0 auto
  &__post
    display: flex
    flex-direction: column
    height: 100%
  &__item
    @include col-sm(6)
    @include col-md(4)
    @include col-lg(4)
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.125)
    background: #fff
    overflow: hidden
    border-radius: 3px
    margin: 15px !important

.post
  &__img
    width: 100%
    &_wrap
      display: block
      position: relative
    &_mask
      width: 600px
      height: 306px
      background: rgba(255, 255, 255, .1)
      display: inline-block
      position: absolute
      right: 350px
      top: 0
      transform: skew(-45deg)
      transition: all .6s ease-in-out
  &__category
    position: absolute
    top: -25px
    left: 10px
    z-index: 50
    font-family: $default_font
    font-size: 10px
    text-transform: uppercase
    transition: all 0.3s ease
    background: $font_active
    color: #fff
    padding: 5px
  &__meta
    position: absolute
    top: 10px
    right: -60px
    z-index: 50
    transition: all 0.3s ease
  &__date
    background-color: rgba(0, 0, 0, .08)
    border: 1px solid rgba(0, 0, 0, .08)
    font-family: $default_font
    font-weight: 400
    font-size: 18px
    padding: 7px
    margin-bottom: 10px
    &_year
      color: #fff
      border-bottom: 2px solid #fff
      padding: 2px 0 6px 0
      text-align: center
    &_month
      color: #fff
      font-size: 11px
      text-transform: uppercase
      padding: 8px 0 5px 0
      text-align: center
  &__comment
    @extend .post__date
  &__author
    display: flex
    align-items: center
    margin-bottom: 35px
    padding: 0 25px
  &__body
    display: flex
    flex-direction: column
    position: relative
    height: 100%
    padding-top: 10px
    margin-bottom: 10px
    margin-top: - 55px
    background: rgba(255, 255, 255, .4)
  &__title
    color: $default_black
    font-size: 14px
    text-transform: uppercase
    line-height: 1.4em
    font-weight: 700
    padding: 0 25px
  &__entry
    margin-top: 20px
    line-height: 1.8em
    letter-spacing: 0.02em
    padding: 0 25px
  &__social
    padding: 5px 5px 0
    &_item
      margin: 0 5px
      color: #a0a0a0
  &__linker
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 20px 5px
    font-size: 15px
    color: #a0a0a0
  &__read
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    z-index: 10
    font-size: 12px
    padding: 10px 26px
    padding-left: 32px
    color: #F2F2F2
    background: #555657
    transition: all .3s ease
    letter-spacing: 1px
    font-family: Arial, sans-serif
    margin-right: -15px
    border-right: 8px solid rgba(0, 0, 0, .15)
    border-radius: 0 3px 0 0
    transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    &:before
      content: ''
      position: absolute
      margin-left: -33px
      margin-top: -14px
      width: 0
      height: 0
      border-style: solid
      border-width: 44px 0 0 15px
      border-color: transparent transparent transparent #F7F8F9
    &:hover
      transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg)
      background: $font_active
  &__footer
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 18px
    height: 40px
    background: #F7F8F9
    margin-top: auto
    &:after
      content: ''
      position: absolute
      right: 0
      bottom: 44px
      border: 20px solid transparent
      border-right: 220px solid #F7F8F9
    &:before
      content: ''
      position: absolute
      right: 0
      bottom: 81px
      border: 15px solid transparent
      border-right: 300px solid #F7F8F9

.author
  &__img
    width: 32px
    height: 32px
    overflow: hidden
    border-radius: 50%
    margin-right: 5px
  &__name
    font-family: $default_font
    font-size: 14px
    color: $default_black

.linker
  &__round
    border: 1px solid #e7e7e7
    border-radius: 50%
    padding: 5px
    margin-left: 5px
    width: 20px
    height: 20px
    text-align: center
    overflow: hidden
    cursor: pointer
    &_red
      border: none
      background: $font_active
      color: #fff
      padding: 6px
  &__social
    display: flex
.pagination
  display: flex
  justify-content: center
  padding: 40px 20px
  &__item
    margin: 3px
    font-weight: bold
    background: #fff
    padding: 10px 14px
    box-shadow: 0 1px 3px rgba(0,0,0,0.04)
    border-radius: 3px
    border-bottom: 2px solid $font_active
.footer
  background-color: #fff
  padding-top: 20px
  box-shadow: 1px -2px 3px 0px rgba(0, 0, 0, 0.05)
  color: #aaa
  &__bottom
    margin-top: 40px
    padding: 15px 0 12px
    background-color: #555
    font-size: 12px
    font-family: "Montserrat", sans-serif
    text-transform: uppercase
  &__title
    text-align: center
    color: #707070
    margin-bottom: 13px
    text-transform: uppercase
    border-bottom: 3px solid $font_active
    padding-bottom: 5px
  &__section
    display: flex
    margin: 0 auto
    max-width: 1170px
    min-width: 300px
  &__item
    @include col-sm(12)
    @include col-md(4)
    @include col-lg(4)